*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    
}

#container {
    width: 481px;
    height: 460px;
    background: #FFFF;
    position: relative;
}



button {
    margin-left: 59px;
    margin-top: 50px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid white;
    background: #4CD06C;
    
    
}

.line {
    width: 26px;
    text-decoration: none;
    text-align: center;
    height: 1px solid white;
    border: 1px solid white;

}

div nav {
    position: absolute;
    margin-left: -120px;
    margin-top: 50px;
}

ul, li, a {
    font-size: 24px;
    color: #FFF;
    line-height: 45px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    

a:hover{
    color: white;
}

